@import url("http://fonts.googleapis.com/css?family=Noto+Sans:400,700");

section {
  margin-bottom: 20px;
}

#photos {
  /* Prevent vertical gaps */
  line-height: 0;
  -webkit-column-count: 4;
  -webkit-column-gap: 5px;
  -moz-column-count: 4;
  -moz-column-gap: 5px;
  column-count: 4;
  column-gap: 5px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  margin: 0;
  padding: 0;
  outline: none;
}

#photos img:hover {
  opacity: 0.8;
}

#photos figure {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  outline: none;
}

#photos a {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  outline: none;
}

html {
  box-sizing: border-box;
  overflow: auto;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.left-img {
  width: 20%;
  height: auto;
}

.project-p {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

ul.nostyle {
  list-style: none;
  padding: 0;
  font-size: 16px;
}

.project-title {
  opacity: 0.85;
  display: block;
  padding-left: 40px;
  height: 30px;
  line-height: 30px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 0 center;
  font-size: 20px;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
}

.project-title.eyepatch {
  background-image: url("../images/eyepatch-b.png");
}

#info {
  *zoom: 1;
}

#info:before, #info:after {
  content: " ";
  display: table;
}

#info:after {
  clear: both;
}

#projects {
  margin-top: 40px;
}

.wrapper {
  overflow: auto;
  position: relative;
}

.wrapper .flexdiv {
  position: relative;
  background: #ecf0f1;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-flex: 1 0 0;
  -moz-box-flex: 1 0 0;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0;
  flex: 1 0 0;
}

.wrapper .flexdiv:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.wrapper .flexdiv .title {
  font-weight: bold;
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.wrapper .flexdiv .icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 26px;
  height: 26px;
}

.wrapper .flexdiv .info {
  font-size: 16px;
}

.wrapper .smallitem {
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  margin-bottom: 20px;
}

#menu-btn {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 40px;
  left: 25px;
  background-image: url("../images/menu.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center center;
  opacity: 0.35;
  cursor: pointer;
  z-index: 10;
}

#menu-btn:active {
  opacity: 0.75;
}

#info {
  font-family: "Noto Sans", sans-serif;
}

.title {
  font-family: "Noto Sans", sans-serif;
}

a {
  color: #4183d7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#primary li {
  background: #3fc380;
}

#other li {
  background: #f4b350;
}

h1 {
  margin-top: 0;
  font-size: 32px;
  font-family: "Noto Sans", sans-serif;
}

h2 {
  margin-top: 0;
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

code {
  font-size: 14px;
}

img#profile-img {
  border-radius: 50%;
  z-index: 2;
}

#main {
  width: 100%;
  overflow: auto;
  background: #FFF;
}

#main .bio {
  margin-bottom: 20px;
}

.flexwrap {
  display: block;
}

#hire-btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border-radius: 3px;
  background: #4183d7;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  font-size: 20px;
  z-index: 2;
}

#hire-btn:hover {
  opacity: 0.85;
}

#hire-btn:active {
  opacity: 1;
}

#skills ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#skills ul li {
  font-family: "Noto Sans", sans-serif;
  display: inline-block;
  padding: 4px 7px;
  margin: 1px;
  font-size: 14px;
  color: #FFF;
  border-radius: 3px;
}

.twitter-icn-b {
  background-image: url("../images/twitter-b.png");
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
  padding-left: 30px;
  height: 25px;
  line-height: 25px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 0 center;
}

.globe-icn-b {
  background-image: url("../images/globe-b.png");
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
  padding-left: 30px;
  height: 25px;
  line-height: 25px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 0 center;
}

.res-img {
  width: 100%;
  height: auto;
  border-radius: 3px;
}

input, textarea {
  display: block;
  width: 100%;
  box-shadow: none;
  margin-bottom: 10px;
  border: 1px solid #CCC;
  outline: none;
  padding: 10px;
  font-size: 16px;
  resize: none;
  border-radius: 3px;
}

input:focus, textarea:focus {
  border-color: #4183d7;
}

textarea {
  min-height: 200px;
}

#form-notify {
  float: right;
  margin-right: 10px;
  height: 30px;
  line-height: 30px;
  color: #3fc380;
  font-size: 16px;
  font-weight: bold;
  display: none;
}

#submit {
  width: 100px;
  float: right;
  border: none;
  background-color: #4183d7;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  height: 30px;
  line-height: 30px;
}

#submit:hover {
  opacity: 0.85;
}

#submit:active {
  opacity: 1;
}

#submit:focus {
  border-color: none;
}

#info {
  z-index: 2;
  background: #151515;
  display: block;
}

#info nav ul {
  list-style: none;
  color: white;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

#info nav ul a {
  text-decoration: none;
  color: black;
}

#info nav ul li {
  list-style: none;
  margin-bottom: 10px;
  opacity: 0.35;
  cursor: pointer;
  padding-left: 35px;
  height: 30px;
  line-height: 30px;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 0 center;
}

#info nav ul li:hover {
  opacity: 0.75;
}

#info nav ul li.title {
  padding: 0;
  margin-bottom: 0;
  opacity: 0.15;
  font-size: 12px;
  cursor: default;
}

#info nav ul li.title:hover {
  opacity: 0.15;
}

@media screen and (max-width: 899px) {
  .flexdiv {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 499px) {
  #photos {
    /* Prevent vertical gaps */
    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap: 5px;
    -moz-column-count: 2;
    -moz-column-gap: 5px;
    column-count: 2;
    column-gap: 5px;
    overflow: hidden;
  }
}

@media screen and (min-width: 500px) and (max-width: 899px) {
  #photos {
    /* Prevent vertical gaps */
    line-height: 0;
    -webkit-column-count: 3;
    -webkit-column-gap: 5px;
    -moz-column-count: 3;
    -moz-column-gap: 5px;
    column-count: 3;
    column-gap: 5px;
    overflow: hidden;
  }
}

@media screen and (max-width: 750px) {
  .name {
    color: rgba(255, 255, 255, 0.35);
    position: absolute;
    width: 100%;
    top: 10px;
    height: 30px;
    left: 0;
    font-size: 18px;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
  }

  .subtitle {
    color: rgba(255, 255, 255, 0.35);
    position: absolute;
    width: 100%;
    top: 30px;
    left: 0;
    font-size: 14px;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
  }

  img#profile-img {
    position: absolute;
    top: 50px;
    left: calc(50% - 40px);
    height: 70px;
    width: 70px;
    border: 5px solid #151515;
  }

  img#logo-text {
    display: none;
  }

  #main {
    padding: 20px;
    width: 100%;
    position: relative;
  }

  #info {
    position: relative;
    min-height: 110px;
    background: #151515;
    width: 100%;
  }

  #info nav {
    overflow: auto;
    height: 0;
    margin-top: 110px;
  }

  #info nav ul {
    float: left;
    display: block;
    width: 100%;
    z-index: 50;
    padding: 20px;
    background: #ecf0f1;
  }

  #info nav ul li {
    color: #151515;
    opacity: 1;
  }

  #info nav ul li.title {
    color: #555555;
    opacity: 1;
  }

  #info nav ul li.title:hover {
    opacity: 1;
  }

  .phone-icn {
    background-image: url("../images/phone-b.png");
  }

  .email-icn {
    background-image: url("../images/email-b.png");
  }

  .twitter-icn {
    background-image: url("../images/twitter-b.png");
  }

  .github-icn {
    background-image: url("../images/github-b.png");
  }

  .eyepatch-icn {
    background-image: url("../images/eyepatch-b.png");
  }
}

@media screen and (min-width: 751px) {
  #menu-btn {
    display: none;
  }

  .name, .subtitle {
    display: none;
  }

  img#profile-img {
    margin: 50px;
    height: 100px;
    width: 100px;
  }

  img#logo-text {
    position: absolute;
    top: 0;
    z-index: 3;
    margin: 25px;
    height: 150px;
    width: 150px;
    cursor: pointer;
    opacity: 0.35;
    border-radius: 50%;
  }

  img#logo-text:hover {
    opacity: 0.75;
  }

  #main {
    width: 100%;
    height: 100%;
    padding: 20px 20px 20px 220px;
  }

  #info {
    height: 100%;
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
  }

  #info nav ul {
    padding: 0;
    margin-left: 20px;
  }

  #info nav ul a {
    color: white;
  }

  #info nav ul li {
    margin-bottom: 10px;
    opacity: 0.35;
    cursor: pointer;
    padding-left: 35px;
    height: 30px;
    line-height: 30px;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 0 center;
  }

  #info nav ul li img {
    float: left;
    height: 25px;
    width: 25px;
  }

  #info nav ul li span {
    display: inline-block;
    line-height: 25px;
    margin-left: 10px;
  }

  #info nav ul li:hover {
    opacity: 0.75;
  }

  .phone-icn {
    background-image: url("../images/phone.png");
  }

  .email-icn {
    background-image: url("../images/email.png");
  }

  .twitter-icn {
    background-image: url("../images/twitter.png");
  }

  .github-icn {
    background-image: url("../images/github.png");
  }

  .eyepatch-icn {
    background-image: url("../images/eyepatch.png");
  }
}

@media screen and (min-width: 900px) {
  .flexwrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .flexwrap .flexdiv {
    margin-right: 20px !important;
    -webkit-box-flex: 1 0 0;
    -moz-box-flex: 1 0 0;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0;
    flex: 1 0 0;
  }

  .flexwrap .flexdiv:last-child {
    margin-right: 0 !important;
  }

  #hire-btn-wrap {
    position: absolute;
    left: 0;
    top: 20px;
    padding-left: 220px;
    width: 100%;
    height: 50px;
  }

  #hire-btn-wrap .bigitem {
    margin-right: 20px;
  }

  #hire-btn-wrap .smallitem {
    margin-left: 20px;
    padding-right: 20px;
  }

  #hire-btn-wrap .wrapper {
    height: 50px;
  }

  .wrapper {
    display: -webkit-box;

    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;

    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;

    /* TWEENER - IE 10 */
    display: -webkit-flex;

    /* NEW - Chrome */
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .wrapper .info {
    margin-right: 20px;
  }

  .wrapper .flexdiv {
    margin-right: 20px;
  }

  .wrapper .flexdiv:last-child {
    margin-right: 0;
  }

  .wrapper .smallitem {
    -webkit-box-flex: 1 0 0;
    -moz-box-flex: 1 0 0;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0;
    flex: 1 0 0;
    margin-bottom: 0;
  }

  .wrapper .bigitem {
    -webkit-box-flex: 2 0 0;
    -moz-box-flex: 2 0 0;
    -webkit-flex: 2 0 0;
    -ms-flex: 2 0 0;
    flex: 2 0 0;
  }
}

figure {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1201px) {
  #skills {
    padding: 80px 20px 20px 20px;
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;
    height: 100px;
  }

  #skills.flexwrap {
    display: block;
  }

  #main {
    padding-right: 300px;
  }

  #hire-btn-wrap {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 260px;
    padding: 0;
    height: 50px;
    flex: none;
    z-index: 2;
  }

  #hire-btn-wrap .wrapper {
    position: fixed;
    right: 20px;
    padding: 0;
    margin: 0;
  }

  #hire-btn-wrap .bigitem {
    width: 0;
    padding: 0;
    margin: 0;
    flex: 0;
  }

  #hire-btn-wrap .smallitem {
    width: 260px;
  }

  #hire-btn {
    width: 260px;
  }
}

@media screen and (min-width: 1401px) {
  #photos {
    /* Prevent vertical gaps */
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap: 5px;
    -moz-column-count: 5;
    -moz-column-gap: 5px;
    column-count: 5;
    column-gap: 5px;
    overflow: hidden;
  }
}